@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular.eot');
    src: url('montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('montserrat-regular.woff2') format('woff2'),
         url('montserrat-regular.woff') format('woff'),
         url('montserrat-regular.ttf') format('truetype'),
         url('montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratultra_light';
    src: url('montserrat-ultralight.eot');
    src: url('montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
         url('montserrat-ultralight.woff2') format('woff2'),
         url('montserrat-ultralight.woff') format('woff'),
         url('montserrat-ultralight.ttf') format('truetype'),
         url('montserrat-ultralight.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('montserrat-light.eot');
    src: url('montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('montserrat-light.woff2') format('woff2'),
         url('montserrat-light.woff') format('woff'),
         url('montserrat-light.ttf') format('truetype'),
         url('montserrat-light.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}