.logo{width:100%;text-align:center;float:left;}
.logo img{width:80%;}
.signup_wrapper{float:left;width:100%;padding:20px 10px 40px;background-color:#4e0000;}
.signup_wrapper h1{text-align:center;font-size:30px;color:#fff;text-transform:uppercase;}
.sign_wrapper{float:left;width:100%;text-align:center;margin-top:25px;}
.sign_wrapper button {line-height: 35px !important; margin-left: 25%; width: 50% !important;font-size:18px;}
.sel select {border: 0 none; color: #707070 !important; font-size: 18px; height: 45px; text-align: center; width: 100%;background:url(img/ar.png);background-position:right center;background-repeat:no-repeat;}
.fb_wrapper img{width:70%;}
.fb_wrapper a{color:#ffffff;text-decoration:none;}
.fb_wrapper {float: left; margin-top:15px; text-align: center; width: 100%;}
.sign_wrapper{float:left;width:100%;margin-top:25px;text-align:center;font-size:16px;}
.sign_wrapper a{color:#a00000;text-decoration:underline;font-size: 20px;}
.ser{position:absolute;z-index:99999;top:0;right:0;left:0;}
.one_section {box-shadow: 0 0 5px #a0a0a0; float: left; margin:20px 0 0; padding:0; width: 100%; }
.wt{float:left;width:100%;background-color:#fff;}
.pad{padding:16px;}
.blcktext{color:#000;}
.tim{position:absolute;right:0;top:0;background-color:#a00000;padding:5px 8px;font-size:12px;}
.off{position:absolute;left:-6px;top:145px;background-color:#a00000;padding:5px 8px;font-size:12px;opacity: 0.8; text-transform: capitalize;color:white;font-weight: 600;}
.rat_wrapper{float:left;width:100%;color:#a00000;font-size:16px;margin-bottom:10px;margin-top:3px;}
.cont{float:left;width:100%;padding:15px 10px;}
.tedtit{position:relative;}
.tedtit{margin:0;color:#a00000!important;}
.tim > img {margin: -3px 4px 0 0; width: 13px !important;}
.fl{color:#a00000!important;float:left;font-size:20px;width:100%;}
.fl img{position:absolute;right:0;top:0px;width:30px;}
.rat_wrapper > img{width:90px;}
.blcktext{float:left;width:100%;font-size:16px;}
.mili{float:left;width:100%;color:#a00000;font-size:15px;}
.al_light{font-family:'montserratultra_light'!important;}
.fot_light{font-family:'montserratlight'!important;}
.ser_wrapper {left: 43px; margin: 0; overflow: hidden; position: absolute; right: 20%; top: 5px;}
.ser_wrapper input {background-color: #eccccc; border-radius: 5px; color: #404040; font-size: 15px; height: 32px; padding: 0 37px 0 10px;width:100%;}
.menu-content .buttons.buttons-left.header-item{width:100%!important;}
.menu-content .buttons.buttons-left.header-item .left-buttons{width:100%!important;}
.icon img{width:20px;}
.icon {position: absolute; right: 10px; top: 6px;}
/*.rt_icon{position:absolute;right:-5px;top:5px; left: 282px;}*/
.icn {float: right; margin: 2px 3px; width: 30px;}
.icn img{width:100%;}
.icn a i {border: 2px solid #ffffff; border-radius: 100%; color: #ffffff; font-size: 14px; height: 30px; line-height: 17px; padding: 5px; text-align: center; width: 30px; }
.togmenu {background-color: #eccccc; border: 0 none !important; border-radius: 4px; font-size: 18px; height: 31px; left:4px; line-height: 16px !important; position: absolute; top: 6px; width: 30px;text-align:left!important;}
.togmenu i{color:#a00000!important;}
.map_bot{background-color:#ffffff;position:fixed;padding:15px 0;bottom:0px;display:none;}
.bg{float:left;width:100%;background-color:#ffffff!important;height:100%;}
.wrp{float:left;width:100%;position:relative;height:100%!important;}
.scroll{height:100%;position:relative;}
.map_bot .cont{padding:15px;box-shadow:0 0 5px #a0a0a0;}
.top_map{float:left;width:100%;height:100%;overflow:hidden;}
.top_map img{width:100%;height:100%;}
.pd15{padding:15px;}
.cent{text-align:center;}
.fl1{float:left;width:100%;font-size:18px;font-style:italic;color:#a00000;padding:0 15px;line-height:22px;}
.col1{float:left;width:100%;font-size:16px;color:#000000;text-align:center;margin:15px 0;text-transform:uppercase;line-height:27px;}
.tim_wrapr{float:left;width:100%;}
.tim_wrapr_cent{margin:0 auto;width:80%;}
.lt_time{float:left;width:49%;margin-right:10px;text-align:right;}

.lt_time_minus{float:left;width:50px;margin-left:32%;margin-right:15px;text-align:right;}
.rt_time_plus{float:left;width:50px;text-align:left;}
.lt_time_minus div{font-size:40px;color:#a00000;cursor:pointer;border:0;}
.rt_time_plus div{font-size:40px;color:#a00000;cursor:pointer;border:0;}

.rt_time{float:left;width:45%;text-align:left;}
.tw{float:left;width:100%;background:#a00000;padding:10px;color:#ffffff;margin-bottom:0px;}
.book_wrap{float:left;width:100%;margin-top:0px;}
.book_wrap button {font-size: 20px; line-height: 35px !important; margin-left: 25%; width: 50% !important;}
.not{float:left;width:100%;text-align:center;}
.count{float:left;width:100%;padding:10px 0;}
.cnt {border: 5px solid #cccccc; border-radius: 100%; color: #a00000; font-size: 35px; height: 100px; line-height: 82px; margin: 0 auto; padding: 0; text-align: center; width: 100px; }
.lt_time div{font-size:40px;color:#a00000;cursor:pointer;border:0;}
.rt_time div{font-size:40px;color:#a00000;cursor:pointer;border:0;}
.bar{height:44px!important;float:left!important;width:100%!important;position:relative!important;}
.bar-header{border-bottom-width:0!important;}
.has-header {top: 44px !important;}
.togmenu i{position:absolute!important;left:8px!important;top:7px!important;}
.mnu a{background: #8f1010 none repeat scroll 0 0; border-bottom: 2px solid #b51515 !important; }
.mnu a.activated{background:#f05050!important;}
.wel{font-size: 17px; font-weight: 300; line-height:15px;position:absolute;top:12px;left:10px; width: 100%;}
.mnu.activated{background:#f05050!important;border:0!important}
.mnu.item{border:0!important;}
.mnu i{width:20px;text-align:center;}
.item-complex .item-content, .item-radio .item-content{padding:16px 49px 16px 10px!important;}
.log{padding-left:10px!important;background: #8f1010 none repeat scroll 0 0;border-bottom:1px solid #b51515 !important;}
.padding{padding:0 10px!important;}
.scroll-bar-v{width:0!important;}
.bar-header{border-bottom-width:0!important;}
.bg_red{background:#a00000!important;}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{max-height:30px!important;max-width:30px!important;}
.bk {color: #ffffff; font-size:20px; left: 5px; position: absolute; top:10px; }
.bk a i{font-size:25px;color:#fff!important;}
.text_cent {float: left; font-size: 19px; line-height:0px; text-align: center; width: 100%;margin-top:15px!important;}
.mbt10{margin-bottom:10px;}



/*
@media (max-width:1024px){
    .logo img {margin-top:15%!important; width: 250px;}
}

@media (min-width:1024px){
    .logo img {margin-top:15%!important; width: 250px;}
}

@media (min-width:768px){
.signup_wrapper{float: none; margin: 0 auto; padding: 25px 15px 45px; width:50%;}
.sign_wrapper{float:none;}
.logo {float: none; height: 30vh;}
.logo img {margin-top: 23%; width: 250px;}
.fb_wrapper img{width:60%;}
.fb_wrapper{margin-top:15px;}
}

@media (max-width:414px){
.logo{margin-top:10%;height:20vh;}
.logo img{margin-top:5%!important;}
.signup_wrapper {margin-top: 5%;}

}

@media (max-width:375px){
.logo{margin-top:10%;height:20vh;}
.logo img{margin-top:3%!important;}
.signup_wrapper {margin-top: 5%;}
}

@media (max-width:360px){
.logo{margin-top:10%;height:20vh;}
.logo img{margin-top:5%!important;}
.signup_wrapper{margin-top:5%;}
}
*/
@media (max-height:568px) {
/*.logo{margin-top:0px;height:auto!important;}*/
/*.signup_wrapper{margin-top:5%!important;padding:15px 15px 15px;max-height:405px;overflow:auto!important;}*/
/*.sign_wrapper{margin-top:0px;}
.signup_wrapper h1{font-size:22px;}
.signup_wrapper{margin-top:0%}
.logo{margin-top:10%;height:auto;}
.logo img {height:auto!important; width:180px!important; margin-top:0%;}
.logcont{top:100px}
.top_logo{height:100px}
.signup_wrapper h1{margin-bottom:15px;}
.signup_wrapper .item-input{margin-bottom:2px;}
.sign_logo {margin-bottom: 20px; margin-top: 9% !important; }*/
}

@media (max-height:480px) {
/*.logo{margin-top:0px;}*/
/*.signup_wrapper{margin-top:0%!important;padding:8px 15px 8px!important;max-height:405px;overflow:auto!important;}*/
/*.sign_wrapper{margin-top:5px;margin-bottom:10px;}
.signup_wrapper h1{font-size:22px;}
.logo{margin-top:5%;height:10vh;}
.logo img {height: auto !important; margin-top: 0; width: 110px !important; }
.sign_logo{margin-top:5%!important ;}
*/

}
/*
@media (max-width:320px){
.logo{margin-top:0px;}
.signup_wrapper{margin-top:-5%!important;padding:10px 15px 10px!important;}
.sign_wrapper{margin-top:5px;}
.signup_wrapper h1{font-size:22px;}
.logo img {width:130px;}
.signup_wrapper{margin-top:5%}
.logo{margin-top:10%;height:12vh;}
.logo img{margin-top:2%!important;}
}*/

/*
@media (min-height:480px) and (min-width:320px) {
.logo{margin-top:0!important;}
.logo img {width:100px!important;
}*/
 


  /*--------------------Developer CSS--------------------*/ 
.popup{}
.popup-head{
    background-color:indianred;
}
.popup-title{}
.popup-body{
    color:black;
}
.popup-buttons .button{}
.popup-buttons .button.activated{}

a.offerbtn:first-letter {
    text-transform: uppercase;
}

form i.icon.error {
  color: #ef4e3a; }

form input + i.icon.error {
  display: none;
  margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block; }

form .has-error {
  border-left: 5px solid #cc2511; }

form .has-success {
  border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
  display: none; }

  .errormsg{
    color: white;
    text-align: center;
  }
.arrow::before{
  text-align: center;
}
.customPopup{
  position: absolute;
  top: -150px;
}
.popup-container .popup {
  background-color: rgba(255, 255, 255, 1) !important;
}
.popup-head{
  background-color:#a00000 !important;
}
.popup-body input{
    border: 1px solid red;
}


a:link{ color: #ffffff; }
.popover{color: #000000 !important; height:78px!important; left: auto!important;margin:0!important;right:3px; top:44px!important;width:110px!important;text-align:center!important; overflow:hidden;scroll:none;}
.not_wrapper {position: absolute; right:32px; top: 12px;}
.badge{font-size:10px!important;padding:0 5px 2px!important;}
.rt_icon button{padding:0!important;color:#ffffff!important;position:absolute;right:8px;top:5px;}
.not_wrapper .badge {position: absolute; right: -4px; top: -10px; }
.not_wrapper img{width:24px;}
.popover-wrapper .item{font-size:14px!important;padding:9px 16px!important;}
.popover-wrapper .popover .scroll-content{margin:0!important;}
.popover-arrow{right:0px!important;left:auto!important;}







