<ion-view hide-back-button="true">
<ion-header-bar align-title="center" class="bar-positive">
 <!--  <a class="bk" href="javascript:window.history.back();" > 
      <i class="fa fa-arrow-left"> </i>
    </a>  -->
    <!-- <h2>Booking</h2> -->
  <div class="text_cent">{{"Confirmed" | translate}}</div>
   
</ion-header-bar>
  <ion-content scroll="false" >
    <div class="wt">
      <div class="one_section">
          <div class="title fl fot_light pd15 cent" > {{"Deal_Confirmed" | translate}} </div>
          <div class="count">
            <div class="cnt" style="border: 5px solid #008000;"><i class=" ion-checkmark"> </i></div>
          </div>

         <!--  <div class="tim_wrapr">
            <div class="count">
                 <div class="lt_time"><div class="ion-plus-circled"></div></div>
                 <div class="rt_time"><div class="ion-minus-circled"></div></div>
              </div> 
          </div> -->

          <!-- 
          <div class="tim_wrapr">
             <div class="tim_wrapr_cent">
              <div class="tw al_light">
                 <div class="lt_time">TIME LEFT :</div>
                 <div class="rt_time">01:20:38</div>
                </div> 
             </div> 
          </div> -->

          <div class="book_wrap">
            <button class="button button-block button-positive" ng-click="backToList()">OK</button>
          </div>
      </div>

    </div>
  </ion-content>
</ion-view>

<style type="text/css">
  .wt{height:100%;}
</style>