<ion-view hide-back-button="true">
<ion-header-bar align-title="center" class="bar-positive">
  <a class="bk" href="javascript:window.history.back();" > 
      <i class="fa fa-arrow-left"> </i>
    </a> 
    <!-- <h2>Booking</h2> -->
  <div class="text_cent">{{"Confirm_booking" | translate}}</div>
  
</ion-header-bar>
  <ion-content scroll="false">
    <div class="wt">
      <div ng-if="currentdeal.leftsecond" class="one_section">
          <div class="title fl fot_light pd15 cent" style="text-transform: capitalize;">{{currentdeal.deal_title_dt}}{{currentdeal.deal_title}}</div>
          <div class="count">
            <div class="cnt">{{start}}</div>
          </div>
          <div class="tim_wrapr">
            <div class="count">

             <div class="lt_time_minus" >
               <div class="ion-minus-circled" ng-click="minus_people('minus',$event);" stop-propagation></div>
             </div>

             <div class="rt_time_plus" >
             <div class="ion-plus-circled"  ng-click="plus_people('plus',$event);" stop-propagation></div>
             </div>


           </div> 
         </div>
            <div class="blcktext al_light cent">
          <i class="fa fa-clock-o"></i><timer ng-if="currentdeal.leftsecond" countdown="currentdeal.leftsecond" interval="1000" finish-callback="timeLeft()"><code><b> {{hhours}}:{{mminutes}}:{{sseconds}}</b> </timer>
        </div>

          <div class="col1 cent" ng-show="currentdeal.remaining_deal==start && start!==1"> 
           {{"total_deals" | translate}}. 
          </div>

          <div class="col1 cent" ng-show="currentdeal.remaining_deal==1"> 
            {{"Only" | translate}} {{"one_deal" | translate}}.
          </div>

          <div class="book_wrap">
            <button class="button bkbtn button-block button-positive" id="btncbook" ng-click="confirmDeal()">{{"Confirm" | translate}}</button>
          </div>
      </div>

    </div>
  </ion-content>
</ion-view>

<style type="text/css">
  .wt{height:100%;}
</style>