

<ion-view hide-back-button="true">
<ion-header-bar align-title="center" class="bar-positive">

<a class="bk" href="javascript:window.history.back();" > 
  <i class="fa fa-arrow-left"> </i>
</a> 
<!-- <h2>Booking</h2> -->
<div class="text_cent"> {{"Booking" | translate}}</div>

</ion-header-bar>

<ion-content class="has-header" scroll="true" >
 <style type="text/css">
  .wt{height:100%;}
   .image-loader-container {
        position: absolute;
        top: 20%;
        bottom: 10%;
        left: 15%;
        right: 15%;   
        /*background-color: #e5e5e5;*/
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
      }
</style>
<div class="wt">

  <div ng-if="currentdeal.leftsecond" class="one_section">
    <div class="title fl fot_light pd15 cent" style="text-transform: capitalize;">{{currentdeal.deal_title_dt}}{{currentdeal.deal_title}}</div>
    <div style="position:relative;" class="item-image pad">
      <img style="height:180px;width: 100%;" image-lazy-src="{{currentdeal.image}}" image-lazy-loader="bubbles" />
    </div>
    <div class="title fl1 fot_light cent" ng-hide="discountext" style="text-transform: uppercase;" >{{currentdeal.discount}}</div>
    <div class="title fl1 fot_light cent" ng-show="discountext"  >{{"Price" | translate}}: <del><i class="fa fa-eur"> </i>{{currentdeal.old_price}}</del> &nbsp; <i class="fa fa-eur"> </i>{{currentdeal.new_price}}</div>
    <div class="blcktext al_light cent">{{currentdeal.restaurant}}</div>
    <div class="col1 cent"> 
          <!-- All deals :{{currentdeal.no_of_deals_can_be_claimed}}<br>Remaining deals :{{currentdeal.remaining_deal}}<br>
          People limit :{{currentdeal.no_of_people_for_deal}} -->
          {{"Only" | translate}} {{currentdeal.remaining_deal}} {{"deals_left" | translate}}.
        </div>
       <div class="blcktext al_light cent">
          <i class="fa fa-clock-o"></i><timer ng-if="currentdeal.leftsecond" countdown="currentdeal.leftsecond" interval="1000" finish-callback="timeLeft()"><code><b> {{hhours}}:{{mminutes}}:{{sseconds}}</b> </timer>
        </div>
       <div class="book_wrap">
         <button class="button bkbtn button-block button-positive" id="btncbook" ui-sref="confirmDeal({id:id,index:index,ofindex:ofindex})">{{"Book_Now" | translate}} </button> 
       </div>
       <div class="not">*Not in combination with other discounts</div>
     </div>

   </div>
 </ion-content>
</ion-view>
