<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="false">

  <!-- in our custom header bar we give a link to start screen 
  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
    <button ui-sref="app.start" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h2 class="title">Login</h2>
  </ion-header-bar>-->

  <ion-content  scroll="false" class="scroll-content ionic-scroll padding bg_red">
  <h1 class="logo sign_logo"><img src="img/logo.png"></h1>

  <div class="signup_wrapper">
    <h1>{{ "Additional_detail" | translate }}</h1>
<form name="myForm" on-valid-submit="signup()" novalidate="novalidate">
        <label class="item item-input validated">
            <input type="tel" placeholder="{{ 'Phone_no' |  translate }}" ng-minlength="10" ng-minlength="10" name="phoneno" ng-model="fbuserdata.phoneno" ng-pattern='/^[0-9]{10,10}$/' required>
            <i class="icon ion-alert-circled error"></i>
         </label>
         <p class="errormsg" ng-show="myForm.phoneno.$error.pattern && myForm.phoneno.$invalid">* {{"valid_mobile" | translate}}.</p> 
        <!--  <label class="item item-input validated sel ">
          <select ng-model="fbuserdata.interest" name="interest"  style="text-align: center!important;padding: 0 0 0 28%;" required>
             <option disabled="" style="padding: 0 0 0 0;" value="" selected>{{ 'Type_of_cuisine' |  translate }}</option>
              <option  ng-repeat="intrest in intrests" value="{{intrest.id}}">{{intrest.name}}</option>
              <i  ng-show="interesterr" class="icon ion-alert-circled error"></i>
          </select>
        </label>
        <p class="errormsg" ng-show="interesterr">* {{"select_mst" | translate}}.</p> -->
        <div class="sign_wrapper">
          <button class="button button-block button-positive">NEXT</button>
        </div>
        </form>
  </div>  
</ion-content>

  <!-- we put the forgot password link in the footer 
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.forgot">
    <h1 class="title sans-pro-light">Forgot password?</h1>
  </ion-footer-bar>
-->

</ion-view>


