<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="false">

  <!-- in our custom header bar we give a link to start screen 
  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
    <button ui-sref="app.start" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h2 class="title">Login</h2>
  </ion-header-bar>-->

  <ion-content  scroll="false" class="scroll-content ionic-scroll padding bg_red">
  <h1 class="logo"><img src="img/logo.png"></h1>

  <div class="signup_wrapper">
    <h1>{{ "Reset_Password" | translate }}</h1>
<form name="loginfrm" novalidate="novalidate" on-valid-submit="setPassword()">
    <label class="item item-input " >
      <input type="number" placeholder="OTP" ng-model="forget.otp" name="otp"  required>
      <i class="icon ion-alert-circled error"></i>
    </label>  
    <p class="errormsg" ng-show="loginfrm.otp.$invalid && !loginfrm.otp.$pristine"> * {{"valid_otp" | translate}}.</p>
    <label class="item item-input validated">
       <input type="password" placeholder="{{ 'Password' |  translate }}" ng-minlength="8" ng-maxlength="15"  id="pass" name="password" ng-model="forget.password" required>
      <i class="icon ion-alert-circled error"></i>
    </label>
        <p class="errormsg" ng-show="loginfrm.password.$error.required && !loginfrm.password.$pristine">* {{"password_req" | translate}}.</p>
         <p class="errormsg" ng-show="loginfrm.password.$error.minlength || loginfrm.password.$error.maxlength ">* {{"password_mst" | translate}}.</p>

    <label class="item item-input validated">
       <input type="password" placeholder="{{ 'Retype_password' |  translate }}"  ng-minlength="8" id="pass2"  ng-maxlength="15" name="rpassword" ng-model="forget.rpassword" required>
      <i class="icon ion-alert-circled error"></i>
    </label>    
       <p class="errormsg" ng-show="loginfrm.rpassword.$error.minlength || loginfrm.rpassword.$error.maxlength ">* {{"password_mst" | translate}}.</p> 
 <p class="errormsg" ng-show="passerr">* {{"both_password" | translate}}.</p>
    <div class="sign_wrapper">
      <button class="button button-block button-positive">{{"Reset" | translate}}</button>
    </div>

    <div class="sign_wrapper"><a href="#" style="" ui-sref="signin">{{"Sign_In" | translate}}</a></div>
</form>
  </div>  
</ion-content>

  <!-- we put the forgot password link in the footer 
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.forgot">
    <h1 class="title sans-pro-light">Forgot password?</h1>
  </ion-footer-bar>
-->

</ion-view>


