
<ion-view hide-nav-bar="false">
  <ion-content  scroll="false" class="scroll-content ionic-scroll padding bg_red">
  <h1 class="logo sign_logo"><img src="img/logo.png"></h1>

  <div class="signup_wrapper">
    <h1>Choose language</h1>
<form name="loginfrm" novalidate="novalidate" >
<div class="">
<ion-checkbox ng-model="userl.language1" class="checkbox-assertive " ng-click="setPreLang('en')" >ENGLISH</ion-checkbox>
<ion-checkbox ng-model="userl.language2" class="checkbox-assertive"   ng-click="setPreLang('dt')" >DUTCH</ion-checkbox>
</div>

   <!--  <label class="item item-input sel" >
      <select  ng-model="userl.language" name="language" required >
      <option disabled="" value="" selected>Choose language</option>
        <option  value="en" >ENGLISH</option>
        <option value="dt" >DUTCH</option>
      </select>
    </label>  -->
    <div class="sign_wrapper">
      <button class="button button-block button-positive" ng-disabled="setlang" ui-sref="signup" >Next</button>
    </div>
</form>
  </div>  
  <style>
.backgrounfimageset{

    background-color:black !important;
    border-color: #385372!important;
}
.item.activated{
background-color: #4e0000;
border-color: #a00000;
}


  </style>
</ion-content>
</ion-view>


