<ion-view hide-back-button="true">
   

  <ion-content lazy-scroll>
   <style>

      .image-loader-container {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 15%;
        right: 15%;           
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
      }
     /* .arrow{
        top:-100px;
      }*/
    </style>
  <ion-refresher class="arrow"
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="wt">

      <div ng-show="mydeals" ng-repeat="deal in mydeals | filter:search" class="one_section"  id="deal{{$index}}">

      <a href="#/deatailView/{{deal.id}}/{{deal.index}}/{{deal.object}}">
      <div class="pad">
        <div class="item-image" style="position:relative;">

         <div ng-show="deal.discountext" class="off al_light"><span>  
            <code><b> <del><i class="fa fa-eur"> </i> {{discountext}} {{deal.old_price}}</del> <i class="fa fa-eur"> </i>{{deal.new_price}}</b></code>
          </span>
        </div> 
        <div ng-hide="deal.discountext" class="off al_light"><span> 
            <code><b>{{discountext}}  {{deal.discount}}</b></code>
          </span>
        </div>

          <img style="height:180px;width: 100%;" image-lazy-src="{{deal.image}}" image-lazy-loader="bubbles" />

          <div class="tim al_light">
            <img style="float: left;margin-top:5%" image-lazy-src="img/time.png">
            <!-- <span style="color:white;"> -->
              <timer style="color:white; float: right" countdown="deal.leftsec" interval="1000" finish-callback="timeLeft($index)">
              <code><b> {{hhours}}:{{mminutes}}:{{sseconds}}</b></code>
              </timer>
            <!-- </span> -->
          </div>
      </div>

        <div class="cont">
          <div class="ui-gradient-deepblue tedtit fot_light">
            <div class="title fl fot_light" style="text-transform: uppercase;">{{deal.deal_title}}</div>
            <div class="title fl fot_light" style="text-transform: uppercase;">{{deal.deal_title_dt}}</div>
          </div>
          <!-- <div class="rat_wrapper"></div> -->
          <div class="blcktext al_light">{{deal.restaurant}}</div>
          <div class="mili al_light">Distance : {{deal.distance}}</div>
        </div>  
      </div>
      </a>
      </div>
      <div ng-show="noresult" class="one_section">
       <div class="pad">
         <div class="cont">
          <div class="ui-gradient-deepblue tedtit fot_light">
            <div class="title fl fot_light">{{"no_deals" | translate}}</div>
          </div>
        </div>  
      </div>
    </div>

    </div>
 
  </ion-content>
</ion-view>
