<ion-view hide-back-button="true">
 <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>


<style type="text/css">

.scroll {
    height: 99.99%;
}
#map {
    width: 100%;
    height: 100%;
}
	
	html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map-canvas {
	margin: 0;
	padding: 0;
	height: 400px;
	max-width: none;
}
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	width:200px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 0px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
	width:200px!important;
}
#iw-container .iw-title {
    background-color: #a00000;
    border-radius: 0;
    color: #ffffff;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
} 
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: auto;
	width: auto;
	overflow-y: auto;
	overflow-x: auto;
	color:black;
}
.gm-style-iw{max-width:inherit!important;}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {min-height: 45px; padding-bottom: 10px !important; padding-left: 46px; padding-top: 10px;}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{left:11px!important;top:11px!important;}
.clo i{color:#fff!important;}
.clo {color: #ffffff !important; font-size: 18px; position: absolute; right: 4px; top: 4px; width: 16px;}



/*.clocsebtn{ width:px; }*/
.twi_list{float:left;width:100%;overflow-y:auto; max-height:100px; min-height: 50px;}

</style>
