
<ion-side-menus enable-menu-with-back-views="true" >
  
  <ion-side-menu-content drag-content="true">
  <!-- <ion-side-menu-content drag-content="true"> -->
    <ion-nav-bar class="bar-deepblue">
      

      <ion-nav-buttons side="left" >
        
        <!--<button class="togmenu" menu-toggle="left"></button>-->

        <div class="togmenu" menu-toggle="left"><i class="fa fa-bars"></i></div>
        
        <div ng-hide="list" class="ser_wrapper">
          <!-- <input type="text" id="locationtext11" name="locationtext" placeholder="Search location" ng-model="location"  ng-focus="disableTap()" class="ng-pristine ng-valid" autocomplete="true" > -->
            <input type="text" placeholder="{{'enter_ur_address' | translate}}" ng-model="user.address" googleplace="" class="ng-pristine ng-valid" autocomplete="off"  ng-focus="disableTap()">
          <div class="icon"> <!-- <img src="img/ser.png"> --> </div>
        </div> 

        <div ng-show="list" class="ser_wrapper">
          <input type="text"  placeholder="{{'search_deal' | translate}}" ng-model="search.$" class="ng-pristine ng-valid">
        </div>   

        
        <a ng-hide="list" style="color: white;" href="#/app/listview">
          <div class="not_wrapper">
           <img src="img/list_view.png">
           <span class="badge badge-assertive" ng-if="dealcount" >{{dealcount}}</span>
         </div>
       </a>

       <a ng-show="list" style="color: white;" href="#/app/mapview">
        <div class="not_wrapper">
         <img src="img/map_view.png">
         <span class="badge badge-assertive" ng-if="dealcount">{{dealcount}}</span>
       </div>
     </a>

        <div class="rt_icon">
          <!-- <div class="icn"><a href="javascript:setView();" > <i class="fa fa-list-ul"> </i> </a></div> -->
          <!-- <div class="icn"><a href="#"> <i class="fa fa-filter"></i></a></div>     -->
          <button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)">
        </button>

        </div>
      </ion-nav-buttons>


    </ion-nav-bar>
    
    <ion-nav-view name="menuContent" class="slide-left-right"></ion-nav-view>
  
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--
      #IMPLEMENTATION-DETAIL:
      we are using our custom bar classes here
      see scss/themed.scss for implementation.
    -->
    <ion-header-bar align-title="center" class="bar-deepblue-reverse bar-deepblue-borderbottom " >
       <span class="wel">{{"Welcome" | translate}} {{userdata.name}}</span>
    </ion-header-bar>
  
    <ion-content scroll="false">
      <ion-list>
        <!-- #TIP: 
          Menu items are wrapped In the following <ion-list>. 
          Each one has attribute "menu-close" set in order to automatically close side menu on click 
        -->
       <!--  <ion-item ng-show="user.avatar" menu-close href="#/app/account" class="item-menu-avatar text-center">
          <img ng-src="{{user.avatar}}" class="avatar-menu">
        </ion-item> -->
        <!-- <ion-item menu-close class="menu-positive text-center" href="#">
         
        </ion-item> -->
        <ion-item menu-close class="mnu" href="#/app/mapview" >
          <i class="fa fa-map-marker"></i> {{"Map_View" | translate}}
        </ion-item>
        <ion-item menu-close class="mnu" href="#/app/listview">
          <i class="fa fa-list-ul"></i> {{"List_View" | translate}}
        </ion-item>   
        <ion-item menu-close class="mnu log" ng-click="logout()">
        <i class="fa fa-power-off"></i> {{"Logout" | translate}}
       <!-- <button class="button button-clear white-color">Logout</button> -->
        </ion-item>
      </ion-list>
    </ion-content>


    <!-- 
      #IMPLEMENTATION-DETAIL:
      we choose to put a "logout" button in the footer of side menu.
      the "logout" method in contained in "AppCtrl" controller (see controllers.js)
    -->
    <ion-footer-bar class="bar-positive">
      <!-- <button class="button button-clear white-color" ng-click="logout()" menu-close>Logout</button> -->
    </ion-footer-bar>
  
  </ion-side-menu>
</ion-side-menus>

<script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content overflow-scroll = "false">
          <div class="list">
            <a class="item" ng-click="setLang('EN')">
              ENGLISH
            </a>
            <a class="item" ng-click="setLang('DT')">
              DUTCH
            </a>
            
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

