<ion-view hide-back-button="true">
 <ion-header-bar align-title="center" class="bar-positive">

   <!--  <a class="bk" href="javascript:window.history.back();" > 
      <i class="fa fa-arrow-left"> </i>
    </a>  -->
    <!-- <h2>Booking</h2> -->
  <div class="text_cent">{{"Data_head" | translate}}</div>

</ion-header-bar>

  <ion-content scroll="false">


  <div class="list card">

  <div class="item item-avatar">
    <p class="text-left">  {{"no_internate" | translate}} </p>
  </div>
 
  <div class="item item-body">
    <!-- <p ng-if="msg">
    {{msg}}
    </p> -->
    <p>
      {{"internet_off" | translate}}
    </p>
    <button class="button bkbtn button-block button-positive" id="btncbook" ng-click="backToList()">{{"Try_again" | translate}}</button>
  </div>

</div>
    
  </ion-content>
</ion-view>
