<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="false">

  <!-- in our custom header bar we give a link to start screen 
  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
    <button ui-sref="app.start" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h2 class="title">Login</h2>
  </ion-header-bar>-->

  <ion-content  scroll="false" overflow-scroll="false"  class="scroll-content ionic-scroll padding bg_red">
  <h1 class="logo sign_logo"><img src="img/logo.png"></h1>
 <ion-scroll  direction="y" style="width:95%;height:72.58%;float:none;margin: 0 auto;top:0 auto; display: block;min-height: 72%; margin-top:38%;bottom:10%;" > 
  <div class="signup_wrapper">
    <h1>{{"Sign_In" | translate}}</h1>
<form name="loginfrm" novalidate="novalidate" on-valid-submit="userLogin()">
    <label class="item item-input " >
      <input type="email"  placeholder="{{ 'Email' |  translate }}" ng-model="login.email" name="email" focus-me ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' id="loginemmail" required>
      <i class="icon ion-alert-circled error"></i>
    </label>  
    <p class="errormsg ng-cloak" ng-show="loginfrm.email.$invalid && !loginfrm.email.$pristine" ng-cloak>* {{"valid_email" | translate}}.</p>
    <label class="item item-input validated">
       <input type="password" placeholder="{{ 'Password' |  translate }}" ng-minlength="8" ng-maxlength="15" name="password" ng-model="login.password" required>
      <i class="icon ion-alert-circled error"></i>
    </label>
        <p class="errormsg ng-cloak" ng-show="loginfrm.password.$error.required && !loginfrm.password.$pristine" ng-cloak>* {{"password_req" | translate}}.</p>
         <p class="errormsg ng-cloak" ng-show="loginfrm.password.$error.minlength || loginfrm.password.$error.maxlength " ng-cloak>* {{"password_mst" | translate}}.</p>

    <div class="sign_wrapper">
      <button class="button button-block button-positive">{{"Sign_In" | translate}}</button>
    </div>
    <div class="fb_wrapper"><a href="#" ng-click="forgot()"> {{"Forgot_Password" | translate}} </a></div>
    <div class="fb_wrapper" style="font-size: 18px;"><a ng-click="fblogin()"><i class="fa fa-facebook"></i> {{"fb_In" | translate}}</a></div>

    <div class="sign_wrapper"><a style="color: #ffffff; "  ui-sref="signup">{{"Sign_Up" | translate}}</a></div>
</form>

  </div>  
    </ion-scroll> 
</ion-content>

  <!-- we put the forgot password link in the footer 
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.forgot">
    <h1 class="title sans-pro-light">Forgot password?</h1>
  </ion-footer-bar>
-->

</ion-view>


