
<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="false">


  <ion-content scroll="false"  overflow-scroll="false" class="scroll-content ionic-scroll padding bg_red disable-scrolling">
  <h1 class="logo"><img src="img/logo.png"></h1>
  <ion-scroll  direction="y" style="width:95%;height:72.58%;float:none;margin: 0 auto;top:0 auto;display: block;margin-top:38%;min-height: 72%;bottom:10%" >
 <div class="signup_wrapper" id="content">
  <h1>{{"Sign_Up" | translate}}</h1>
      <form name="myForm" on-valid-submit="signup();$event.preventDefault();" novalidate="novalidate" >
        <label class="item item-input validated">
          <input type="text" placeholder="{{ 'Name' |  translate }}" ng-model="userdata.name" name="uname"  required="required" minlength="3" ng-pattern='/^[a-zA-Z\s]*$/' >
                  <i class="icon ion-alert-circled error"></i>
        </label>  
         <p class="errormsg" ng-show="myForm.uname.$error.required && !myForm.uname.$pristine" ng-click="$event.preventDefault();">* {{"Please_enter_name" | translate}}.</p>
         <p class="errormsg" ng-show="myForm.uname.$error.minlength" >* {{"name_sign_contain" | translate}}.</p>
         <p class="errormsg" ng-show="myForm.uname.$error.pattern && !myForm.uname.$error.minlength">* {{"name_only_chars" | translate}}.</p>
        <label class="item item-input validated">
          <input type="email" placeholder="{{ 'Email' |  translate }}" ng-model="userdata.email" name="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'  required >
          <i class="icon ion-alert-circled error"></i>
        </label>
        <p class="errormsg" ng-show="myForm.email.$error.pattern">* {{"valid_email" | translate}}.</p>
        <label class="item item-input validated">
            <input type="tel" placeholder="{{ 'Phone_no' |  translate }}" minlength="10" maxlength="10" name="phoneno" ng-model="userdata.phoneno" ng-pattern='/^[0-9]{10,10}$/' required>
                <i class="icon ion-alert-circled error"></i>
        </label>
        <p class="errormsg" ng-show="myForm.phoneno.$error.pattern && myForm.phoneno.$invalid">* {{"valid_mobile" | translate}}.</p>

        <label class="item item-input validated">
          <input type="password" placeholder="{{ 'Password' |  translate }}" ng-minlength="8" ng-maxlength="15" id="password" name="password" ng-model="userdata.password" required>
          <i class="icon ion-alert-circled error"></i>
        </label>
         <p class="errormsg" ng-show="myForm.password.$error.required && !myForm.password.$pristine">* {{"password_req" | translate}}.</p>
         <p class="errormsg" ng-show="myForm.password.$error.minlength || myForm.password.$error.maxlength "> * {{"password_mst" | translate}}.</p>
        <!-- <label class="item item-input validated sel "> -->
         <!-- <i class="icon ion-alert-circled error"></i> -->
         <!--  <select ng-model="userdata.interest" name="interest"  style="text-align: center!important;padding: 0 0 0 28%;" required>
              <option disabled="" style="padding: 0 0 0 0;" value="" selected>{{ 'Type_of_cuisine' |  translate }}</option>
              <option  ng-repeat="intrest in intrests" value="{{intrest.id}}">{{intrest.name}}</option>
              <i class="icon ion-alert-circled error"></i>
          </select>
         <i  ng-show="interesterr" class="icon ion-alert-circled error"></i>
        </label>
        <p class="errormsg" ng-show="interesterr"> * {{"select_mst" | translate}}.</p> -->
        <div class="sign_wrapper">
          <button class="button button-block button-positive"  ng-click="chekInterest();">{{"Sign_Up" | translate}}</button>
        </div>
        </form>
          <div class="fb_wrapper" style="font-size: 18px;"><a  ng-click="fblogin()"><i class="fa fa-facebook"></i> {{"fb_up" | translate}}</a></div>
          <div class="sign_wrapper mbt10"><a style="color: #ffffff; "  style="" ui-sref="signin">{{"Sign_In" | translate}}</a></div>
      </div> 
       </ion-scroll>
</ion-content>

  <!-- we put the forgot password link in the footer 
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.forgot">
    <h1 class="title sans-pro-light">Forgot password?</h1>
  </ion-footer-bar>
-->

</ion-view>







